*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.main-container{
    width: 70%;
    margin: 50px auto;
}

.box-container::after{
    content: '';
    display: table;
    clear: both;
}

/* item-boxes */
.item-box{
    width: calc((100% - 10px) / 3);
    float: left;
    position: relative;
}

.centre{
    margin: 0 5px;
}

.heart::after{
    content: '\2661';
}

.heart{
    position:absolute;
    top:5px;
    right:0;
    font-size: 50px;
}

/* debug section */
.debug .main-container{
    height: 1000px;
    background-color: aqua;
}

.debug .box-container{
    height: 500px;
    background-color: blue;
    border: 2px solid black;
}

.debug .item-box{
    height: 500px;
    background-color: blueviolet;
    border: 2px solid black;
}

.debug .img-box{
    height: 450px;
    background-color: darkgoldenrod;
}

.debug .description-box{
    height: 50px;
    background-color: darkgreen;
}