*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.main-container{
    width: 70%;
    margin: 50px auto;
}

.box-container::after{
    content: '';
    display: table;
    clear: both;
}

.box-container{
    margin-bottom: 75px;
}

/* item-boxes */
.item-box{
    width: calc(90% / 3);
    float: left;
}

/* img-box */
.img-box{
    position:relative;
}

img{
    height: 100%;
    width: 100%;
}

.img-back{
    display: none;
}

.img-box:hover .img-front{
    display:none
}

.img-box:hover .img-back{
    display: block;
}


.centre{
    margin: 0 5%;
}

.heart::after{
    content: '\2661';
}

.heart{
    position:absolute;
    top: 10px;
    right:0;
    font-size: 30px;
    background-color: white;
    padding: 5px 15px;
}

.discount{
    position:absolute;
    bottom:10px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    background-color: red;
    padding: 5px 10px;
}

.sustainability{
    position:absolute;
    bottom:10px;
    left: 50px;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    background-color:green;
    padding: 5px 10px;
}

#alone{
    left: 0;
}

/* description boxes */
.description-box > span, .pastel-color-clothing > span{
    display: block;
}

.brand{
    font-size: 11px;
    margin: 5px 0;
}

.pastel-color-clothing{
    background-color:#75ac51;
    padding: 10px 0 10px 15px;
}

.text{
    padding: 2.5px 0 2.5px;
}

/* text format */
.first-cap{
    text-transform: capitalize;
}

.caps-lock{
    text-transform: uppercase;
}

.clothes, .price, .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.price{
    margin: 10px 0;
    vertical-align: middle;
    font-weight: 600;
}

.red{
    color: red;
}

/* debug section */
/* .debug .main-container{
    height: 1000px;
    background-color: aqua;
} */

/* .debug .box-container{
    height: 500px;
    background-color: blue;
} */

/* .debug .item-box{
    height: 500px;
    background-color: blueviolet;
} */

/* .debug .img-box{
    height: 450px;
    background-color: darkgoldenrod;
} */

/* .debug .description-box, .debug .pastel-color-clothing{
    height: 50px;
    background-color: darkgreen;
} */

/* .debug .description-box span{
    background-color: greenyellow;
    height: calc(50px / 3);
    width: 150px;
    border: 1px solid black;
} */

/* .debug .pastel-color-clothing span{
    background-color: greenyellow;
    height: 25px;
    width: 150px;
    border: 1px solid black;
} */