*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.main-container{
    width: 70%;
    margin: 50px auto;
}

.box-container::after{
    content: '';
    display: table;
    clear: both;
}

/* item-boxes */
.item-box{
    width: calc((100% - 10px) / 3);
    float: left;
}

.img-box{
    position:relative;
}

.centre{
    margin: 0 5px;
}

.heart::after{
    content: '\2661';
}

.heart{
    position:absolute;
    top:10px;
    right:0;
    font-size: 50px;
    background-color: white;
    padding: 5px 20px;
}

.discount{
    position:absolute;
    bottom:10px;
    font-size: 20px;
    background-color: red;
    padding: 5px 20px;
}

.sustainability{
    position:absolute;
    bottom:10px;
    left: 50px;
    font-size: 20px;
    background-color:green;
    padding: 5px 20px;
}

span{
    display: block;
}

/* debug section */
.debug .main-container{
    height: 1000px;
    background-color: aqua;
}

.debug .box-container{
    height: 500px;
    background-color: blue;
}

.debug .item-box{
    height: 500px;
    background-color: blueviolet;
}

.debug .img-box{
    height: 450px;
    background-color: darkgoldenrod;
}

.debug .description-box, .debug .pastel-color-clothing{
    height: 50px;
    background-color: darkgreen;
}

.debug .description-box span{
    background-color: greenyellow;
    height: calc(50px / 3);
    width: 150px;
    border: 1px solid black;
}

.debug .pastel-color-clothing span{
    background-color: greenyellow;
    height: 25px;
    width: 150px;
    border: 1px solid black;
}